p {
  max-width: 50vw;
  overflow-wrap: break-word;
}

.margin{
	margin:200px;
}
body{
	background-color: #5a7564;
}
 .repo{
	 display: block;
	 position: relative;
	 justify-content: space-between;
	 bottom: 75;
 }
  /* WRAPPER */
   #hamnav {
	  width: 100%;
	  background: #000;
  }
  /* HIDE HAMBURGER ICON */
  #hamnav label, #hamburger {display: none;}
  /* MENU ITEMS */
  #hamitems { display: flex;}
  #hamitems a { 
  padding: 10px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  }
  #hamitems a:hover { background: #8a0000;}
#cookie-statement {
  position: fixed;
  top: 80%;
  left: 85%;
  transform: translate(-50%, -50%);
  background-color: #FA0;
  opacity: 0.5;
  width: 400px;
  height: 150px;
  border: 3px solid #FFF;
  text-align: center;
  padding: 20px;
}

#cookie-statement p {
  color: #FFF;
  font-size: 16px;
}

#resizing-img {
	width:20vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 480px) {
/* BREAK INTO VERTICAL MENU */
#hamitems { display: block; }
#hamitems a {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #333;
}
 #hamnav {
	  width: 70%;
	  background: #000;
	  float: right;
  }
/* SHOW HAMBURGER ICON */
#hamnav label {
	display: inline-block;
	color: #fff;
	background: #8a0000;
	font-size: 1.2em;
	font-style: normal;
	padding: 10px;
}
	/* HIDE MENU ITEMS BY DEFAULT */
	#hamitems { display: none; }
	
	/*TOGGLE SHOW HIDE*/
	#hamnav input:checked ~ #hamitems { display: block; }

.img {
	  position: relative;
	  display: flex;
	  flex-direction: column;
  margin-left: none;
  top: 300;
}
.article {
  display: flex;
  align-items: flex-end;
  position: relative;
  bottom: 200;
  clear: both;
  
}
article {
  margin-bottom: 350px;
  bottom: 200;
  position: relative;
  }
.imagereposition {
  position: relative;
  bottom: -150;
  left: 50%;
  transform: translateX(-100%);
  margin: 16px 0;
}
.container {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(1, 1fr);
  }
  
  .article-5 {
  grid-row: 1;
  grid-column: 1;
}

.article-1 {
  grid-row: 4;
  grid-column: 1;
}


.article-3 {
  grid-row: 2;
  grid-column: 1;
}


.article-2 {
  grid-row: 3;
  grid-column: 1;
}
  
  .aside-1 {
	grid-row: 7;
  grid-column: 1;
}

.aside-2 {
	grid-row: 8;
  grid-column: 1;
}

.aside-3 {
	grid-row: 9;
  grid-column: 1;
}
main{
	margin-top: 300px;
}
.copyright {
	grid-row: 10;
	grid-column: 1;	
	margin-top: 30px;
}
.articlepricing{
	display: none;
}
.table-with-prices{
	position: absolute;
	top: -1200px;
	margin-bottom: 100px;
}
.largerbody{
	margin-bottom: 1400px;
}

.aside-price1 {
	position: relative;
  top: 1200;
  clear: both;
}

.aside-price2 {
	position: relative;
  top: 00;
  clear: both;
}
.sourceofdata{
	position: absolute;
	bottom: 1000px;
}
.asidecontact{
	position: relative;
	left: 50px;
	bottom: -1000px;

}
.aside-contact1{
	position: absolute;
	top: 500px;
	right: 00px;
}
.aside-contact2{
	right: 00px;
	top: 300px;
}
.aside-contact3{
	right: 00px;
	top: 300px;
}

.footer{
	position: absolute;
	bottom: -800px;
}
}
@media (min-width: 481px) and (max-width: 1279px) {
  /* styles for tablets */
  .img {
	  position: relative;
	  display: flex;
	  flex-direction: column;
  float: left;
  margin-left: none;
  top: 200;
}
aside{
	position: relative;
	display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 bottom: 2400; 	 
	 float: left;

}
p {
  max-width: 100vw;
  overflow-wrap: break-word;
}
#cookie-statement {
  position: fixed;
  top: 80%;
  left: 85%;
  transform: translate(-50%, -50%);
  background-color: #FA0;
  opacity: 0.5;
  width: 300px;
  height: 150px;
  border: 3px solid #FFF;
  text-align: center;
  padding: 20px;
}
#myvideo{
	display: flex;
  align-items: flex-end;
  position: relative;
  top: 300;
  clear: both;
  margin-bottom: 300px;
}
article {
  margin-bottom: 350px;
  position: relative;
  }
  
  .article{
	  bottom: 75;
  }
  
  .footer{
	  position: relative;
	  right: -200;
  }
  
  
  
  .container {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(2, 1fr);
  }
  
.article-5 {
  grid-row: 5;
  grid-column: 2;
}

.article-1 {
  grid-row: 1;
  grid-column: 1;
}

.article-6 {
  grid-row: 6;
  grid-column: 1;
}

.article-3 {
  grid-row: 4;
  grid-column: 1;
}

.article-4 {
  grid-row: 7;
  grid-column: 2;
}
.article-2 {
  grid-row: 3;
  grid-column: 2;
}
  .copyright {
	grid-row: 10;
	grid-column: 1;	
	margin-top: 30px;
}

.aside-1 {
	grid-row: 8;
  grid-column: 1;
  top: 500;
  clear: both;
}

.aside-2 {
	grid-row: 8;
  grid-column: 2;
  top: 500;
  clear: both;
}
.aside-3{
	display: none;
}
.img-product{
	position: relative;
	top: 100;
	right: 300;
}


.sourceofdata{
	position: relative;
	bottom: 500px;
}

.container-pricing {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.table-with-prices{
	position: absolute;
  grid-row: 4;
  grid-column: 1;
  bottom: 00px;
}
.articlepricing{
	position: absolute;
	grid-row: 1;
	grid-column:1;
	margin-top: 00px;
}
.aside-price1{
	position: absolute;
	grid-row: 3;
	grid-column:2;
	top: 1000px;
}
.aside-price2{
	position: absolute;
	display: none;
	grid-row: 5;
	grid-column:1;
	top: 1000px;
}
aside {
	position: relative;
	display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 bottom: 0; 	 
	 float: left;
	 clear: both;
}

.largerbody{
	margin-bottom: 1400px;
}
.copyright {
	position: absolute;
	grid-row: 10;
	grid-column: 1;	
	margin-top: 30px;
	top: 300px;
	right: 1050px;
}

.sourceofdata {
	position: absolute;
	grid-row: 3;
	grid-column: 1;
	right: 1000px;
	float: left;
	top: -10px;
}

.asidetext{
	max-width: 20vw;
  overflow-wrap: break-word;
}
.asidecontact{
	position: relative;
	float: right;
	margin-right: -100px;
}

.footer{
	position: absolute;
	top: 1410px;
	right: 550px;
	float: left;
	min-width: 50vw;
}

.aside-contact1{
	position: absolute;
	top: 300px;
	right: 200px;
}
.aside-contact2{
	right: 200px;
	top: 00px;
}
.aside-contact3{
	right: 200px;
	top: 100px;
}

}

@media (min-width: 1280px) {
  article {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  clear: right;
  bottom: 200;
  margin-bottom: 100px;
  }
  
  .img {
  position: relative;
  display: flex;
  float: right;
  clear: both;
  right: 1000;
  bottom: -150;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  
}

.aside {
	float: right;
	bottom: 400;
	position: fixed;
	right: 100;
}

.container {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.container-pricing {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.article-2 {
  grid-row: 2;
  grid-column: 1;
}
.articlepricing {
  grid-row: 1;
  grid-column: 1;
  margin-top:300px;
}
.table-with-prices{
	position: absolute;
  grid-row: 2;
  grid-column: 1;
  right: 1300px;
  bottom: -400px;
}
.article-5 {
  grid-row: 6;
  grid-column: 1;
}

.article-1 {
  grid-row: 5;
  grid-column: 2;
}

.article-6 {
  grid-row: 8;
  grid-column: 2;
}

.article-3 {
  grid-row: 4;
  grid-column: 3;
}

.article-4 {
  grid-row: 7;
  grid-column: 3;
}

.aside-1 {
	grid-row: 8;
  grid-column: 1;
}

.aside-2 {
	grid-row: 8;
  grid-column: 2;
}

.aside-3 {
	grid-row: 8;
  grid-column: 3;
}
.sourceofdata {
	position: absolute;
	grid-row: 3;
	grid-column: 1;
	right: 1700px;
	float: left;
	top: 1400px;
}
.copyright {
	position: absolute;
	grid-row: 10;
	grid-column: 1;	
	margin-top: 30px;
	top: 1500px;
	right: 1540px;
}
.aside-price1{
	grid-row: 1;
	grid-column:3
}
.aside-price2{
	grid-row: 2;
	grid-column:3
}
.asidetext{
	max-width: 20vw;
  overflow-wrap: break-word;
}
.asidecontact{
	float: right;
	margin-top: -400px;
}
textarea#message {
  height: 200px;
  width: 500px;
}
fieldset {
  height: 400px;
  width: 1000px;
}
.footer{
	position: absolute;
	bottom: -250;
}
.largerbody{
	margin-bottom: 600px;
}

.aside-contact1{
	position: absolute;
	top: 700px;
	left: 1450px;
}
.aside-contact2{
	position: absolute;
	top: 1400px;
	left: 1450px;
}
.aside-contact3{
	position: absolute;
	top: 1000px;
	left: 1450px;
}
}
}

}


